<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anesthesiology app</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id = "mainSection"> 
        <img src="../static/Assets/titlePageImage.png" alt="">
        <h1>Anesthesiology app</h1>
        <h3>AI tool to calculate amount of anesthesia</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit nam pariatur, recusandae harum doloremque officia, reiciendis saepe explicabo architecto reprehenderit perspiciatis ad, voluptas dolorem nulla error cupiditate quibusdam ex. Aperiam.</p>
        <button id = "continueButton">Continue</button>
    </div>
    
</body>
</html>