<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Anesthesiology app</title>
</head>
<body>
    <div id = "mainSection">
        <h1>Anesthesia calculator</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis cumque maiores quibusdam excepturi consequuntur dignissimos, dicta voluptate molestiae praesentium recusandae quo ab, explicabo soluta odio sequi cupiditate, qui cum nihil!</p>
        <form action="" id = "options">
            <div class="optionsInput">
                <label for="weight">Weight</label>
                <input type="number" name = "weight" id = "weightInput">
            </div>
            
            <div class="optionsInput">
                <label for="patientHistory">Patient History</label>
                <input type="text" name = "patientHistory" id = "patientHistoryInput">
            </div>

            <div class="optionsInput">
                <label for="systolicBloodPressure">Systolic Blood Pressure mm Hg</label>
                <input type="number" name = "systolicBloodPressure" id = "systolicBloodPressureInput">
                <p>* optional</p>
                <label for="diastolicBloodPressure">Diastolic Blood Pressure mm Hg</label>
                <input type="number" name = "diastolicBloodPressure" id = "diastolicBloodPressureInput">
                <p>* optional</p>
            </div>

            <div class="optionsInput">
                <label for="temperature">Temperature Degrees Farenheit</label>
                <input type="number" name = "temperature" id = "temperatureInput">
                <p>* optional</p>
            </div>
            <div class="optionsInput">
                <label for="pulse">Pulse bpm</label>
                <input type="number" name = "pulse" id = "pulseInput">
                <p>* optional</p>
            </div>
            <div class="optionsInput">
                <label for="age">Age</label>
                <input type="number" name = "age" id = "ageInput">
                <p>* optional</p>
            </div>
            <div class="optionsInput">
                <label for="opperation">Opperation</label>
                <input type="text" name = "opperation" id = "opperationInput">
                <p>* optional</p>
            </div>
            <button id = "calculateButton" class = "mainButton">Calculate</button>
        </form>
        <div id = "result">
            <h3>Anesthesia Calculations</h3>
            <h4>Minimum Dose</h4>
            <h5 id = "minDose"></h5>
            <h4>Maximum Dose</h4>
            <h5 id = "maxDose"></h5>
        </div>
    </div>
    <script type = "text/javascript" src = "{{url_for('static', filename = 'calc.js')}}"></script>
</body>
</html>